<!DOCTYPE html>
<html>
    
    <head>
         <!--Materialize Links-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    
          
        <!--Bootstrap Links-->
    
    </head>

    <body>
        
        <!--JavaScript Links-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        
            <!-- Dropdown Trigger -->
                <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Choose Your Neighborhood</a>

            <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">Upper West Side</a></li>
                    <li><a href="#!">Upper East Side</a></li>
                    <li><a href="#!">Chelsea</a></li>
                    <li><a href="#!">Soho</a></li>
                    <li><a href="#!">Lower West Side</a></li>
                    <li><a href="#!">West Village</a></li>
                    <li><a href="#!">Brooklyn</a></li>
                    <li><a href="#!">Lower East Side</a></li>
                    <li><a href="#!">Financial District</a></li>
                </ul>
    
    
    
    
    </body>

</html>