<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>By The 5lice</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">By The 5lice</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container" id = "titlediv">
        <br><br>
        <h1 class="header center black-text text-lighten-2" id = "title"><b>By The 5lice</b></h1>
        <div class="row center">
          <h4 class="header black-text">Find the best pizza places near you. All you have to do is choose from one of the locations below.</h4>
        </div>
        
  <div class="container"  id = "big">
        <!--<a class="btn-large black">Select Your Neighborhood Below</a>-->
    </div>

      </div>
    </div>
    <div class="parallax"><img src="images/pizza_background2.jpg" alt="Unsplashed background img 1" id = "background1"></div>
  </div>


  <div class="container">
    <div class="section">
   
        <div class="row" id = "row1" >
            <!--PUT ALL OF THE BUTTONS HERE!!!!!!!!?-->
          <form id = "form" method="POST" action="/">
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name = "neighborhood" value="Upper East Side, NY">Upper East Side</button>
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Upper West Side, NY">Upper West Side</button>
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Lower East Side, NY">Lower East Side</button>
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Tribeca, NY">Tribeca</button>
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="West Village, NY">West Vilage</button>
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Soho, NY">Soho</button>
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Noho, NY">Noho</button>
                 <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Chelsea, NY">Chelsea</button>
            <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Financial District, NY">Financial District</button> 
               <button class="waves-effect btn-large black" type = "submit" id = "ues" name="neighborhood" value="Williamsburg, NY">Williamsburg Brooklyn</button> 
          </form>
        </div>   
    
        <!--<div class="col s12 m4">-->
        <!--  <div class="icon-block">-->
        <!--    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>-->
        <!--    <h5 class="center">The Best Pizza Joints at Your Fingertips</h5>-->

        <!--    <p class="light">We did most of the heavy lifting for you to provide an easy way for pizza lovers to find the best pizza places depending on their location.</p>-->
        <!--  </div>-->
        <!--</div>-->

        <!--<div class="col s12 m4" >-->
        <!--  <div class="icon-block" id="first">-->
        <!--    <h2 class="center black-text"><i class="material-icons">person_pin</i></h2>-->
        <!--    <h5 class="center">The Best Pizza Joints at Your Fingertips</h5>-->

        <!--    <p class="light">We did most of the heavy lifting for you to provide an easy way for pizza lovers to find the best pizza places depending on their location..</p>-->
        <!--  </div>-->
        <!--</div>-->

        <!--<div class="col s12 m4">-->
        <!--  <div class="icon-block">-->
        <!--    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>-->
        <!--    <h5 class="center">Easy to work with</h5>-->

        <!--    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>-->
        <!--  </div>-->
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header black-text" id = "words">The easiest way to find the <b>best</b> pizza near you!</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/pizza_background2.jpg" alt="Unsplashed background img 2" id = "background1"></div>
  </div>

  <!--<div class="container">-->
  <!--  <div class="section">-->

  <!--    <div class="row">-->
  <!--      <div class="col s12 center">-->
  <!--        <h3><i class="mdi-content-send brown-text"></i></h3>-->
  <!--        <h4>Contact Us</h4>-->
  <!--        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>-->
  <!--      </div>-->
  <!--    </div>-->

    </div>
  </div>


  <!--<div class="parallax-container valign-wrapper">-->
  <!--  <div class="section no-pad-bot">-->
  <!--    <div class="container">-->
  <!--      <div class="row center">-->
  <!--        <h5 class="header col s12 header text-black">A modern responsive front-end framework based on Material Design</h5>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>-->
  <!--</div>-->

  <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Company Bio</h5>
          <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. We used the Yelp api to retrieve the best pizza place's up to date. Any amount would help support and continue development on this project and is greatly appreciated.
          </p>
        </div>
          <div class= "center-align">
          <h5>Contact Us:</h5>
          <p>Theo Goldberg — 18tgoldberg@gmail.com</p>
         <p> Betsy Grantham — betsyg@mail.smu.edu</p>
         <p> Kara Siegel — c19ks@dalton.org</p>
        


        </div>
        <!--<div class="col l3 s12">-->
        <!--  <h5 class="white-text">Settings</h5>-->
        <!--  <ul>-->
        <!--    <li><a class="white-text" href="#!">Link 1</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 2</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 3</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 4</a></li>-->
        <!--  </ul>-->
        <!--</div>-->
        <!--<div class="col l3 s12">-->
        <!--  <h5 class="white-text">Connect</h5>-->
        <!--  <ul>-->
        <!--    <li><a class="white-text" href="#!">Link 1</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 2</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 3</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 4</a></li>-->
        <!--  </ul>-->
        <!--</div>-->
      </div>
    </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
